@model InvoiceUpdateRequest
@{
    ViewBag.Title = "Edit - Invoice";
    ViewBag.CurrentPage = "Invoices";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Invoices/</span> Edit</h4>

<div class="row justify-content-md-center">
    <div>
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Invoice Details</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Invoices" asp-action="Update" method="post" id="InvoiceForm">

                    <input type="hidden" asp-for="@Model.InvoiceId" />
                    <div class="row mb-3">
                        <label asp-for="InvoiceNumber" class="col-sm-3 col-form-label" for="InvoiceNumber">Invoice Number</label>
                        <div class="col-sm-6">
                            <input asp-for="InvoiceNumber" type="text" class="form-control" name="InvoiceNumber" id="InvoiceNumber" readonly>
                            <span asp-validation-for="InvoiceNumber" class="form-text text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="DueDate" class="col-sm-3 col-form-label" for="DueDate">Due Date</label>
                        <div class="col-sm-6">
                            <input asp-for="DueDate" type="date" class="form-control" name="DueDate" id="DueDate">
                            <span asp-validation-for="DueDate" class="form-text text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CustomerName" class="col-sm-3 col-form-label" for="CustomerName">Customer Name</label>
                        <div class="col-sm-6">
                            <input asp-for="CustomerName" type="text" class="form-control" name="CustomerName" id="CustomerName" placeholder="John Doe">
                            <span asp-validation-for="CustomerName" class="form-text text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="CustomerAddress" class="col-sm-3 col-form-label" for="CustomerAddress">Customer Address</label>
                        <div class="col-sm-6">
                            <textarea asp-for="CustomerAddress" class="form-control" name="CustomerAddress" id="CustomerAddress" placeholder="Address"></textarea>
                            <span asp-validation-for="CustomerAddress" class="form-text text-danger"></span>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Save Change</button>
                            <a asp-controller="Invoices" asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}